target/
src/main/nodejs/bproxy/node_modules
src/main/java/config/proxiris.properties
src/main/resources/mycoMINE/application-resources/machineLearning/savedFiles/logFileForNLPLearning.save
docs/
reports/
node_modules/
config.js
uploads/
bower_components/
local-users.json
