<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="lib/semantic-ui/build/packaged/css/semantic.css">
</head>
<body>

<% if (banner) { %>
<%= banner %>
<% } %>
<div class="ui form segment">
  <form method="post" action="login">
    <div class="field">
      <label>Username</label>
      <div class="ui left labeled icon input">
        <input type="text" id="username" name="username" placeholder="Username">
        <i class="user icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left labeled icon input">
        <input id="password" name="password" type="password">
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon lock"></i>
        </div>
      </div>
    </div>
<% if (message) { %>
    <div class="ui error message">
      <div class="header"><%= message %></div>
    </div>
    <input type="submit" class="ui blue submit button" value="Login" />
<% } %>
  </form>
</div>
</body>
</html>

