body { font-family: sans-serif; border: 0px; padding: 0px; margin: 0px }

.active.dashboard.sidebar {
  top: 40% !important;
  height: 65% !important;
  margin-top: 0px !important;
}

.help code {
  background-color: white;
  color: black;
}

.function.field {
  margin: 0 !important;
}

.function.form {
  margin-top: 1em;
  border-bottom: 1px dotted grey;
}
table {
  font-size: 90%;
}

em {
  background: yellow;
  font-style: normal;
}

.anedit {
  display: none;
}

#anno {
  float: right;
  bottom:0;
  overflow: hidden;
  width: 300px;
  height: 100%;
}

.hidden {
  display: none;
}

#preview {
  width: 800px;
  height: 600px;
  display: block;
}

.selectURI {
  color: blue;
  overflow: auto;
}

.selectURI.uri {
  color: #aaf;
}

.highlighted {
  color: #222;
}

a {
  color: blue;
}

.innerMoreNext {
  padding-left: 10px;
}

/* file upload */
.holder.hover { border: 4px dashed #0c0; }
.holder img { display: block; margin: 10px auto; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.image {
    height: 24px;
}



// browse annotations treemap

.treemap .chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
}

.treemap  rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

.treemap  rect.parent {
  cursor: pointer;
  fill: steelblue;
}

.treemap  text {
  pointer-events: none;
}

div.tooltip {
  position: absolute;
  width: 10em;;
  height: 3em;;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  pointer-events: none;
  z-index: 999;
}

.jqCron-text {
  line-height: 140%;
}
