body { font-family: sans-serif; border: 0px; padding: 0px; margin: 0px }

table {
  font-size: 90%;
}

.anedit { 
  display: none;
}

#anno {
  float: right;
  bottom:0;
  overflow: hidden;
  width: 300px;
  height: 100%;
}

.hidden {
  display: none;
}

#preview {
  width: 800px;
  height: 600px;
  display: block;
}

.selectURI {
  color: blue;
  overflow: auto;
}

a {
  color: blue;
}

.innerMoreNext {
  padding-left: 10px;
}
